#loader{
  display: block;
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;		
}

#header-container {
  display: flex;
}

#sql-container {
  display: none;
}

#results-container {
  display: none;
}

#error-container {
  display: none;
}

#error-title {
  color: crimson;
}

#status {
  float: right;
  text-align:right;
  min-width:100px;
  margin-left:auto;
  padding-top:4px;
}

pre {
  white-space: pre-wrap;
}

button {
  cursor: pointer;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #323232;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #323232 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.clipboard-image {
  margin: 0px;
  padding: 0px;
}