# 3rd party CLI for DuckDB so all the tests can be done without a db
duckcli>=0.2.1

# Database adapter - this is the only thing that needs to be pinned. currently only setting the bottom version
dbt-duckdb>=1.3.1

# dbt Core 1.3 or higher required for extension. 
# This isnt deployed by itself and needs an adapter with parallel versions 
# this _will_ change in the future when we do multiple dbt versions
dbt-core>=1.3.0

