.card {
  padding: 16px;
  border-radius: 8px;
  background: var(--card-bg);

  & .card-title {
    font-size: 12px;
    color: var(--text-color);
  }
  & .card-body {
    margin-top: 0.75rem;
    padding: 0;
    & .card-text {
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: 18px;
      color: var(--Text-Neutral, #c4cad2);
    }
  }
}

.btn {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  border: none;
}
.btn.btn-primary {
  background: var(--primary-accent);
}
.btn.btn-danger {
  background: var(--Action-Red);
}

.form-label,
.col-form-label {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
}

input.form-control {
  padding: 2px 10px 2px 8px;
  border-radius: 3px;
  border: 1px solid var(--card-border-color);
}

.dropdown-toggle {
  background-color: var(--dropdown-toggle-color);
}
.dropdown-menu {
  --bs-border-radius: 0 0 4px 4px;
  background: var(--card-bg);
  border-color: var(--card-border-color);

  & .dropdown-item,
  & .dropdown-item-text {
    color: var(--text-color);
    font-size: 14px;
  }
}
