.tag {
  display: inline-block;
  background: var(--background--04);
  padding: 3px 10px;
  border-radius: 2px;
  color: var(--Text-white, #fff);
  font-size: 10px;
  font-weight: 300;
  height: 20px;;
}
