.container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid var(--gray--gray-02);
}

.input {
  background-color: var(--gray--gray-02);
  border: none;
  outline: none;
  max-width: 80px;
  width: auto;
  caret-color: var(--primary-color);
  border-radius: 0;
  height: 100%;

  &:focus {
    border: none;
    outline: none;
    background-color: var(--gray--gray-02);
  }
}

.saveButton {
  color: var(--primary-color);
}

.playButton {
  padding: 0.5rem;
  color: #ffffff;
  background-color: var(--primary-color);
  border-top-right-radius: 0.25rem;
  display: flex;
}

.limitContainer {
  gap: 0;
  align-items: center;

  .label {
    margin: 0.25rem 0.75rem;
  }
}

.saveContainer {
  background-color: var(--gray--gray-02);
  padding: 0.25rem 0.75rem;
  justify-content: space-between;
  font-size: 0.8em;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  line-height: 120%;
}
