.queryPanel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  :global .nav-link {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: var(--text-color--title);

    &:global.active {
      border-bottom: 2px solid var(--text-color--title);
    }
  }

  .loader {
    justify-content: center;
    align-items: center;

    img {
      width: 10rem;
    }
  }

  .queryHistoryList {
    :global .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      > div:first-child {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        max-width: 60%;
      }

      > div:last-child {
        button {
          display: none;
        }
      }

      &:hover {
        > div:last-child {
          button {
            display: inline-block;
          }
        }
      }
    }
  }
}

.historyDetails {
  display: flex;
  flex-direction: column;

  :global .card{
    margin-bottom: 1rem !important;
  }
  :global .card-title {
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}
  pre {
    border: none !important;
  }
  :global .stack-row {
    justify-content: space-between;
  }
}
