.queryPanel {
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  :global .nav-link {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: var(--text-color--title);

    &:global.active {
      border-bottom: 2px solid var(--text-color--title);
    }
  }

  .loader {
    justify-content: center;
    align-items: center;

    img {
      width: 10rem;
    }
  }

  .queryHistoryList {
    background-color: var(--background--01);
    border-radius: 5px;
    header {
      padding: 0.5rem 1rem 0 1rem;
      border-bottom: 1px solid var(--stroke--default);
    }
    :global .list-group {
      border-radius: 0;
      padding: 1rem;
      :global .list-group-item {
        background-color: var(--background--base);
        color: var(--text-color--title);
        margin-bottom: 1rem;
        border-radius: 4px;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 4px 0.5rem;
        min-height: 2.5rem;

        > div:first-child {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          flex: 1;
          max-width: 60%;

          .codicon {
            color: #89d185;
            margin-right: 0.5rem;
          }
        }

        > div:last-child {
          span {
            vertical-align: bottom;
          }
          button {
            display: none;
            padding: 2px 4px;
            margin-left: 2px;
          }
        }

        &:hover {
          > div:last-child {
            button {
              display: inline-block;
              color: var(--text-color--title);
            }
          }
        }
      }
    }
  }
}

.historyDetails {
  display: flex;
  flex-direction: column;

  :global .card {
    margin-bottom: 1rem !important;
  }
  :global .card-title {
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
  }
  pre {
    border: none !important;
  }
  :global .stack-row {
    justify-content: space-between;
  }
}

.selectControl {
  border: 1px solid var(--stroke--disable);
  border-radius: 5px;

  [class*="-control"] {
    min-height: 28px;
    height: 28px;
    align-items: start;

    [class*="-indicatorContainer"] {
      padding: 4px;
    }
  }
}
