:global .vscode-dark,
:global .vscode-high-contrast:not(.vscode-high-contrast-light) {
.altimate-select {
  [class*="-control"]{
    border-color: transparent;
    background-color: var(--background--02);
  }
  input {
    caret-color: var(--text-color--title);
  }
}
}