:global .vscode-dark {
.altimate-select {
  [class*="-control"]{
    border-color: transparent;
    background-color: var(--background--02);
  }
  input {
    caret-color: var(--text-color--title);
  }
}
}