.sidebar-modal {
  position: fixed;
  top: -1px;
  height: calc(100% + 1px);
  box-shadow: none;
  transition: transform 0.3s ease-in-out;
  z-index: 997;
}

.sidebar-background-screen {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  background-color: rgba(8, 34, 71, 0.5);
  z-index: 998;
  display: block;
}

.sidebar-modal-content {
  border-radius: 0px;
  height: 100%;
}

.sidebar-close-button {
  position: absolute;
  top: 0;
  right: 100%;
  height: 32px;
  width: 32px;
  background: 1px solid #e7e8ea;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  padding: 8px;
  background: var(--primary-accent, #247efe);
}
