.notebookList {
  width: 100vw;
  display: flex;
  justify-content: start;
  :global .list-group {
    width: 60%;
    border-radius: 0;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    padding: 1rem;
    margin-top: 20px;
    background: black;
    :global .list-group-item {
      background-color: #1e1e1e;
      border-radius: 4px;
      color: #808080;
      margin-bottom: 1rem;
      border-radius: 4px;
      border: 1px solid transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 8px;
      min-height: 2.5rem;
      &:hover {
        border-color: var(--primary-color);
      }

      > div:first-child {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        text-align: left;
        color: #808080;

        .codicon {
          color: #89d185;
          margin-right: 0.5rem;
        }
      }

      > div:last-child {
        gap: 2px;
        span {
          vertical-align: bottom;
          color: #808080;
        }
        button {
          display: none;
          padding: 1px 4px;
          color: #808080;
        }
      }

      &:hover {
        > div:last-child {
          button {
            display: inline-block;
            color: #808080;
          }
        }
      }
    }
    &:hover {
      color: white;
    }
  }
}

.noNotebooksContainer {
  width: 100vw;
  display: flex;
  justify-content: start;
  .noNotebooks {
    width: 60%;
    text-align: center;
    justify-content: start;
    background: black;
    padding-block: 30px;
    .icon {
      margin-bottom: 15px;
    }
    .button {
      margin-top: 15px;
    }
  }
}
