.level_tag {
  width: min-content;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  font-weight: 500;
  border-radius: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8em;
  background-color: var(--tag-bg);
  color: var(--tag-text-color);
}
