.documentation-wrapper {
  :global .btn-group {
    margin-bottom: var(--spacing-3xl);
  }

  .entity-tests {
    margin-top: var(--spacing-lg);
    p{
      margin-bottom: 0;
      line-height: 1.8;
    }
    :global .model {
      gap: 5px;
      h5 {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0;
        line-height: 1.6;
      }
      flex-direction: row;
      margin-bottom: var(--spacing-lg);
    }
    :global .column {
      flex-direction: column;
      gap: 0;
    }

    .btn-add-test {
      padding: 4px 6px;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      background: var(--background--02);
      :global .codicon {
        font-size: 14px;
      }
      &:hover {
        background: var(--background--03);
      }


      :global .codicon{
        color: var(--icon--active);
      }
      &:hover :global .codicon{
        color: var(--primary-color);
      }
    }
  }
}
.doc-generator {
  max-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;

  & .head {
    justify-content: space-between;
    margin-bottom: 1rem;
    > div {
      align-items: center;
    }
    & p {
      text-decoration: underline;
    }
  }
  & .body-wrap {
    overflow: hidden;
    & .body {
      width: 80%;
      min-width: var(--bs-breakpoint-md);
      overflow: overlay;
      padding-right: 1rem;

      & :global .alert {
        margin-top: 12px;
      }
      & .column-header {
        .sync-btn {
          svg {
            width: 14px;
            vertical-align: bottom;
          }
        }
        & div:last-of-type {
          margin-left: auto;
        }
      }
      .columns {
        gap: 16px;
        h4 {
          margin-bottom: 16px;
        }
      }
      & .save {
        align-items: center;
        position: sticky;
        z-index: 5;
        bottom: 0;
        border-top: 1px solid var(--stroke--disable);
        background: var(--background--02, #28292c);
        padding: 10px 20px;

        h5 {
          margin-right: 10px;
          margin-bottom: 0;
        }

        h5,
        button {
          text-wrap: nowrap;
        }

        button {
          height: 100%;
        }
        & p {
          border-radius: 2px;
          border: 1px solid var(--stroke--disable, #424750);
          background: var(--background--02);
          margin-bottom: 0;
          flex: 1;
          font-size: 1rem;
          padding: 8px 12px;
        }
        & :global #file-path {
          background: var(--background--02);
          color: var(--text-color--title);
        }
      }
    }
    & .result-body {
      width: 40%;
      overflow: overlay;
    }
  }

  &.docTests {
    .column-header {
      margin-top: var(--spacing-3xl);
      margin-bottom: var(--spacing-xl);
    }

    .test-tag {
      cursor: pointer;
    }
  }
}

.add-test {
  gap: var(--spacing-2xl);

  :global .card {
    background-color: var(--background--03);
  }
  .title {
    background-color: var(--background--02);
    border-radius: 8px;
    justify-content: space-between;

    :global .primary {
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: middle;
      margin-left: 3px;
    }
  }
  .test-list-group {
    gap: 10px;

    button {
      border-color: transparent;
      background-color: var(--background--02);
      color: var(--text-color--title);
    }
  }

  :global .card-title {
    border: none;
    margin: 0;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  :global .card-body {
    background-color: var(--background--02);
    padding: 1rem;
    border-radius: 8px;
  }

  :global .card-footer {
    border: none;
  }
}

.popover {
  :global .popover {
    margin-top: -18px;
    :global .popover-body {
      padding: 0;

      & ul {
        padding: 0.5rem 0;
        margin: 0;
        list-style: none;
        li {
          :global .btn-link {
            text-decoration: none;
            color: #1e1e1e;
            width: 100%;
            text-align: left;
            &:hover,
            &.active {
              color: var(--primary-color);
              background-color: #eee;
            }
          }
        }
      }
    }
  }
}
