@use '../../variables'; 


.documentation-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  :global .btn-group {
    margin-bottom: var(--spacing-3xl);
  }

  .newTestTag{
    padding: 3px 10px;
    border-radius: 4px;
    &:hover{
      border-color: var(--primary-color);
      background-color: transparent;
      color: var(--text-color--title)
    }
  }
  .custom-test{
    display: inline-flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    color: var(--bs-btn-color);
    gap: 4px;
    :global .btn{
      padding: 0 3px;
    }

    & svg path {
      fill: var(--primary-color);
    }
    & span{
      height: 18px;
      line-height: 0.9;
      background: var(--action-beta);

      &:hover {
      background: var(--action-beta);
      border-color: transparent;
      }
    }
  }
  .entity-tests {
    .tests-row{
      > *,
      > span > span {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        display: inline-block;
      }
    }
    margin-top: var(--spacing-lg);
    p {
      margin-bottom: 0;
      line-height: 1.8;
    }
    :global .model {
      gap: 5px;
      h5 {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0;
        line-height: 1.6;
      }
      flex-direction: row;
      margin-bottom: var(--spacing-lg);
    }
    :global .column {
      flex-direction: column;
      gap: 0;
    }

    .btn-add-test {
      padding: 4px 6px;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      background: var(--background--02);

      :global .codicon {
        font-size: 14px;
        color: var(--icon--active);
      }
      &:hover {
        background: var(--background--03);
      }

      &:global.btn-primary {
        background: var(--primary-color);

        &:hover :global .codicon,
        :global .codicon {
          font-size: 14px;
          color: #fff;
        }
      }

      &:hover :global .codicon {
        color: var(--primary-color);
      }
    }
  }
}
.doc-generator {
  max-height: calc(100% - 40px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
  & .head {
    justify-content: space-between;
    > div {
      align-items: center;
    }
    & p {
      text-decoration: underline;
    }
  }
  & .body-wrap {
    overflow: hidden;
    & .body {
      width: 100%;
      overflow: overlay;

      & :global .alert {
        margin-top: 12px;
      }
      & .column-header {
        justify-content: space-between;
        .sync-btn {
          svg {
            width: 14px;
            vertical-align: bottom;
          }
        }
      }
      .columns {
        gap: 16px;
        h4 {
          margin-bottom: 16px;
        }
      }
      & .save {
        align-items: center;
        position: sticky;
        z-index: 5;
        bottom: 0;
        border-top: 1px solid var(--stroke--disable);
        background: var(--background--02, #28292c);
        padding: 10px 20px;

        h5 {
          margin-right: 10px;
          margin-bottom: 0;
        }

        h5,
        button {
          text-wrap: nowrap;
        }

        button {
          height: 100%;
        }
        & p {
          border-radius: 2px;
          border: 1px solid var(--stroke--disable, #424750);
          background: var(--background--02);
          margin-bottom: 0;
          flex: 1;
          font-size: 1rem;
          padding: 8px 12px;
        }
        & :global #file-path {
          background: var(--background--02);
          color: var(--text-color--title);
        }
      }
    }
    & .result-body {
      width: 40%;
      overflow: overlay;
    }
    .show-all-tests{
      border-radius: 4px;
      padding: 3px 9px;
      &:hover{
        background-color: transparent;
        border-color: var(--primary-color);
      }
    }
  }

  &.docTests {
    .column-header {
      margin-top: var(--spacing-3xl);
      margin-bottom: var(--spacing-xl);
    }

    .test-tag {
      cursor: pointer;
    }
  }
}

.add-test {
  gap: var(--spacing-2xl);

  :global .card {
    background-color: var(--background--base);
    border-color: transparent;
  }
  .title {
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--background--03);
    justify-content: space-between;

    :global .primary {
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: middle;
      margin-left: 3px;
    }
  }
  :global .spinner-border{
    width: 1rem;
  height: 1rem;
  margin-top: 0.15rem;
  border-width: 2px;
  }
  .test-list-group {
    gap: 10px;

    div,
    button {
      border-color: var(--stroke--disable);
      background-color: var(--background--02);
      color: var(--text-color--title);
      border-radius: 8px;
      border-top-width: 1px;
      cursor: default;
      caption {
        color: var(--text-color--caption);
        font-size: 1rem;
        display: inline-block;
      }

      &:global.disabled {
        opacity: 0.3;
      }
    }
    :global .btn-primary{
      background-color: var(--primary-color);

      }
      
  }

  :global .card-title {
    border: none;
    margin: 0;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  :global .card-body {
  }

  :global .card-footer {
    border: none;
  }

  :global .card-title {
    border: none;
    margin: 0;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  :global .card-body {
  }

  :global .card-footer {
    border: none;
  }
}

.popover {
  :global .popover {
    margin-top: -18px;
    :global .popover-body {
      padding: 0;

      & ul {
        padding: 0.5rem 0;
        margin: 0;
        list-style: none;
        li {
          :global .btn-link {
            text-decoration: none;
            color: #1e1e1e;
            width: 100%;
            text-align: left;
            &:hover,
            &.active {
              color: var(--primary-color);
              background-color: #eee;
            }
          }
        }
      }
    }
  }
}

.conversationInputForm{
  textarea{
    top: 5px !important;
    height: 80% !important;
  }
}

.limitWidth {
  max-width: 100%;
  min-width: 0;
  flex: 1;
}
@media (min-width: 1400px) {
  .limitWidth {
    max-width: 1440px;
  }
}
