<!doctype html>
<html lang="en">
  <!-- These are injected at HTML render time
    __ROOT__            [path to resource directory]
    __THEME__           ["light" | "dark"]
    __NONCE__           [security]
    __CSPSOURCE__       [webview Content Secure Policy source]
 -->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; font-src __CSPSOURCE__; img-src __CSPSOURCE__ https:; style-src __CSPSOURCE__ 'unsafe-inline'; script-src 'strict-dynamic' 'unsafe-eval' 'nonce-__NONCE__';"
    />

    <title>Documentation Editor</title>

    <!-- These are made available for main.js -->
    <script nonce="__NONCE__" type="importmap">
      {
        "imports": {
          "vue": "__ROOT__/assets/vue.esm-browser.prod.js"
        }
      }
    </script>

    <script
      nonce="__NONCE__"
      type="module"
      src="__ROOT__/assets/toolkit.min.js"
    ></script>
    <link nonce="__NONCE__" rel="stylesheet" href="__ROOT__/style.css" />
    <link nonce="__NONCE__" rel="stylesheet" href="__ROOT__/codicon.css" />
  </head>
  <body id="app">
    <div v-if="hasData">
      <img v-show="isLoading" id="spinner" src="__ROOT__/assets/spinner.gif" />
      <section id="docs-form">
        <vscode-text-area
          v-model="description"
          placeholder="Describe your model"
          resize="vertical"
          rows="5"
          ><h2>Documentation for {{ name }}</h2>
          &nbsp;<vscode-tag v-show="generated"
            >AI generated</vscode-tag
          ></vscode-text-area
        >
        <div class="column-actions">
          <vscode-button @click="generateDocsForModel()"
            >Generate documentation<span
              slot="start"
              class="codicon codicon-wand"
            ></span
          ></vscode-button>
          <vscode-button
            appearance="secondary"
            v-show="generated"
            @click="toggleRating('model_rating')"
            >Add comment
            <span slot="start" class="codicon codicon-comment"></span>
          </vscode-button>
        </div>
        <vscode-divider></vscode-divider>
        <h2>Columns</h2>
        <vscode-button @click="fetchMetadataFromDatabase()"
          >Synchronize columns with database<span
            slot="start"
            class="codicon codicon-sync"
          ></span>
        </vscode-button>
        <section id="columns-form" v-for="column in columns">
          <vscode-text-area
            v-model="column.description"
            :placeholder="'Describe ' + column.name"
            resize="vertical"
            rows="5"
            ><h3>
              {{ column.name }}<span v-if="column.type"
                >&nbsp;({{ column.type }})</span
              >&nbsp;<vscode-tag v-show="column.generated"
                >AI generated</vscode-tag
              >
            </h3></vscode-text-area
          >
          <div class="column-actions">
            <vscode-button @click="generateDocsForColumn(column.name)"
              >Generate documentation<span
                slot="start"
                class="codicon codicon-wand"
              ></span>
            </vscode-button>
            <vscode-button
              appearance="secondary"
              v-show="column.generated"
              @click="toggleRating('rating_' + column.name)"
              >Add comment
              <span slot="start" class="codicon codicon-comment"></span>
            </vscode-button>
          </div>
          <Comment :data="column" :ref="'rating_' + column.name" />
        </section>
        <vscode-button id="submit-button">Save</vscode-button>
      </section>
    </div>
    <div v-else="hasData">
      <h2>Select a model file to show documentation editor</h2>
    </div>
    <script nonce="__NONCE__" type="module" src="__ROOT__/main.js"></script>
  </body>
</html>
