#app {
  display: flex;
  flex-direction: column;
}

#docs-form {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1.5rem;
}

#columns-form {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1.5rem;
}

#submit-button {
  width: fit-content;
}

#spinner {
  display: block;
  position: fixed;
  min-width: 25px;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  z-index: 99;
}

@media screen and (min-width: 1024px) {
  #app {
    padding: 0 8rem;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.rating {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1.5rem;
}
