:root {
  --bs-body-font-family: "Lexend", var(--bs-font-sans-serif);
}
html {
  font-size: var(--vscode-font-size, 13px);
}

body {
  --primary-color: #247efe;
  --text-color--title: #171717;
  --text-color--paragraph: rgba(74, 77, 81, 1);
  --text-color--caption: rgba(128, 128, 128, 1);
  --text-color--white: rgba(255, 255, 255, 1);
  --text-color--brand: rgba(36, 126, 254, 1);
  --background--base: #ffffff;
  --background--01: rgba(246, 245, 248, 1);
  --background--02: rgba(245, 246, 247, 1);
  --background--03: rgba(234, 243, 255, 1);
  --background--04: rgba(211, 229, 255, 1);
  --background: rgba(23, 23, 23, 1);
  --background--blue: rgba(36, 126, 254, 1);
  --action--active: rgba(36, 126, 254, 1);
  --action--secondary: rgba(234, 243, 255, 1);
  --action--disable: rgba(131, 144, 163, 1);
  --action--brand: rgba(0, 79, 191, 1);
  --action-red: #ee140f;
  --action-brand-dark: #004fbf;
  --icon--active: rgba(83, 84, 86, 1);
  --icon--default: rgba(131, 144, 163, 1);
  --icon--deactive: rgba(232, 232, 232, 1);
  --icon--blue: rgba(36, 126, 254, 1);
  --stroke--active: rgba(66, 71, 80, 1);
  --stroke--default: rgba(131, 144, 163, 1);
  --stroke--disable: rgba(196, 202, 210, 1);
  --stroke--orange: rgba(227, 142, 0, 1);
  --stroke--blue: rgba(36, 126, 254, 1);
  --gray--gray-01: rgba(72, 78, 85, 1);
  --gray--gray-02: rgba(58, 61, 65, 1);
  --gray--blue--gray-01: rgba(8, 34, 71, 1);
  --gray--blue--gray-02: rgba(55, 76, 106, 1);
}

body.vscode-dark {
  --primary-color: #247efe;
  --text-color--title: #e8e8e8;
  --text-color--paragraph: #c4cad2;
  --text-color--caption: #808080;
  --text-color--white: rgba(255, 255, 255, 1);
  --text-color--brand: rgba(36, 126, 254, 1);
  --background--base: rgba(30, 30, 30, 1);
  --background--01: rgba(23, 23, 23, 1);
  --background--02: rgba(40, 41, 44, 1);
  --background--03: rgba(60, 60, 60, 1);
  --background--04: rgba(74, 77, 81, 1);
  --background: rgba(255, 255, 255, 1);
  --background--blue: rgba(36, 126, 254, 1);
  --action--active: rgba(36, 126, 254, 1);
  --action--brand: rgba(0, 79, 191, 1);
  --action--secondary: rgba(131, 144, 163, 1);
  --action--disable: rgba(66, 71, 80, 1);
  --action-red: #ee140f;
  --action-brand-dark: #004fbf;
  --stroke--active: rgba(232, 232, 232, 1);
  --stroke--default: rgba(131, 144, 163, 1);
  --stroke--disable: rgba(66, 71, 80, 1);
  --stroke--orange: rgba(227, 142, 0, 1);
  --stroke--blue: rgba(36, 126, 254, 1);
  --icon--active: rgba(232, 232, 232, 1);
  --icon--deactive: rgba(131, 144, 163, 1);
  --icon--disable: rgba(66, 71, 80, 1);
  --icon--blue: rgba(36, 126, 254, 1);
  --gray--gray-01: rgba(72, 78, 85, 1);
  --gray--gray-02: rgba(58, 61, 65, 1);
  --gray--blue--gray-01: rgba(8, 34, 71, 1);
  --gray--blue--gray-02: rgba(55, 76, 106, 1);
}

body {
  color: var(--text-color--title);
  background: var(--background--base);
  padding: var(--spacing-3xl) var(--spacing-2xl) !important;
  line-height: 160%;
}

b,
strong {
  font-weight: 600;
}

.App > .container {
  max-width: 100%;
  padding-left: 0;
}

.gap-sm {
  gap: 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}
