:root {
  --bs-body-font-family: "Lexend", var(--bs-font-sans-serif);
}
html {
  font-size: var(--vscode-font-size);
}

body {
  --bg-color: #f5f5f7;
  --primary-accent: #247efe;
  --column-node-bg: #e9f2ff;
  --column-node-color: var(--primary-accent);
  --text-color: #000000;
  --card-bg: #ffffff;
  --card-border-color: #e7e8ea;
  --table-node-border-color: rgba(167, 178, 193, 0.3);
  --table-node-expand-bg: #eaf3ff;
  --table-node-collapse-bg: #ffffff;
  --table-node-content-bg: #ffffff;
  --text-grey-color: #8390a3;
  --purpose-section-bg: #eaf3ff;
  --column-section-bg: #f5f6f7;
  --tag-bg: rgba(63, 140, 255, 0.1);
  --tag-text-color: #082247;
  --input-placeholder-color: rgba(8, 34, 71, 0.5);
  --input-bg: #ffffff;
  --input-text-color: #212529;
  --input-border-color: #dee2e6;
  --Text-Neutral: #4a4d51;
  --Action-Red: #ee140f;
  --dropdown-toggle-color: #1c1c1c;
  --Action-Brand-dark: #004fbf;
  --Stroke-Orange: #e38e00;
  --Backgrounds-04: #4a4d51;
  --Backgrounds-02: #fff;
  --Select-menu-bg: #fff;
}

body.vscode-dark {
  --bg-color: #1e1e1e;
  --primary-accent: #247efe;
  --column-node-bg: rgba(131, 144, 163, 0.2);
  --column-node-color: #ffffff;
  --text-color: #ffffff;
  --card-bg: #27292c;
  --card-border-color: #d5dbe433;
  --table-node-border-color: rgba(213, 219, 228, 0.1);
  --table-node-expand-bg: #494e56;
  --table-node-collapse-bg: #3a3d41;
  --table-node-content-bg: #3a3d41;
  --text-grey-color: #66768d;
  --purpose-section-bg: #3c3c3c;
  --column-section-bg: #3c3c3c;
  --tag-bg: rgba(255, 255, 255, 0.1);
  --tag-text-color: #ffffff;
  --input-placeholder-color: #ffffff;
  --input-bg: rgba(131, 144, 163, 0.2);
  --input-text-color: #ffffff;
  --input-border-color: rgba(131, 144, 163, 0.1);
  --Text-Neutral: #c4cad2;
  --Action-Red: #ee140f;
  --dropdown-toggle-color: #1c1c1c;
  --Backgrounds-04: #4a4d51;
  --Backgrounds-02: #28292c;
  --Select-menu-bg: rgba(66, 71, 80, 1);
}

body {
  padding: 0;
  color: var(--text-color);
  background: var(--bg-color);
  padding: 36px 32px;
}

b,
strong {
  font-weight: 600;
}

.App > .container {
  max-width: 100%;
  padding-left: 0;
}

.gap-sm {
  gap: 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}
