.coachAi {
  background: rgba(23, 178, 106, 0.1);
  color: rgba(23, 178, 106, 1);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  align-items: center;

  ul{
    margin: 0;
  }
  button, a {
    text-decoration: none;
    border-radius: 50%;
    background: rgba(23, 178, 106, 1) !important;
    border: none;
    padding: 4px 5px;

    margin-top: -1px;
    &:hover {
      background: rgb(7, 160, 88) !important;
    }
  }
}

.coachAiIcon{
    width: 28px;
    height: 28px;
    background: var(--primary-color);
    border-radius: 50%;
    padding: 4px;
}