.input-group {
  textarea {
    padding: 10px;
    width: 100%;
    min-height: 48px;
    font-size: 13px;
  }
  :global .btn {
    border-radius: 2px !important;
  }

  .actionButtons {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.dirty {
  border-color: #e38e00;
}

.datatypeTag {
  border-radius: 2.4rem;
}

.modifiedTag { 
  background-color: #32240C;
  color: #E38E00;
  border-radius: 2.4rem;
}