body {
  padding: 0;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.gap-xs {
  gap: 0.75rem;
}

.gap-sm {
  gap: 1rem;
}

.p-2 {
  padding: 0.5em;
}

.mb-3 {
  margin-bottom: 0.75em;
}

.h-100 {
  height: 100%;
}

.overflow-y {
  overflow-y: auto;
}

.lines-2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.text-primary {
  color: #247efe;
}

.text-muted {
  color: #8390a3;
}

.text-black {
  color: #000000;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.invisible {
  visibility: hidden;
}

.spacer {
  flex-grow: 1;
}

.fw-semibold {
  font-weight: 600;
}

.top-right-container {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 16px;
  z-index: 10;
}
