$node-width: 260px;

.table_node {
  width: $node-width;
  display: flex;
  flex-direction: column;
  cursor: default;

  .header {
    background: #ffffff;
    border: 2px solid #eeeff2;
    border-radius: 0.5em;
    padding: 0.5em;
    &.selected {
      border-color: #e38e00;
    }
  }
}

.table_header {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0em 0.5em;
  width: 100%;
}

$size: 1.2em;
$diff: 0.25em;
.table_handle {
  position: absolute;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
  background-color: #247efe;
  border: 1px solid #d6e7ff;
  color: #ffffff;
  top: calc(50% - 0.5 * $size);
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: default;
}

.right_handle {
  right: $diff;
}

.left_handle {
  left: $diff;
}

.see_more_node {
  width: $node-width;
  background: #f7faff;
  border: 1px solid #eeeff2;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: default;
}

.table_card {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0.5rem;
  overflow-x: hidden;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 1px solid #e7e8ea;
  background: #ffffff;
  cursor: pointer;

  &.selected {
    border-color: #e38e00;
  }

  &:hover {
    background-color: #f7faff;
  }

  &.disabled {
    background-color: #e5e6e7;
    cursor: default;
  }
}
