$node-width: 260px;

.table_node {
  width: $node-width;
  display: flex;
  flex-direction: column;
  cursor: default;

  .header {
    background: #eaf3ff;
    border-top: 2px solid #eeeff2;
    border-left: 2px solid #eeeff2;
    border-right: 2px solid #eeeff2;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.5em;
    &.collapse {
      background: #ffffff;
      border-bottom: 2px solid #eeeff2;
      border-radius: 0.5em;
    }
    &.selected {
      border-color: #e38e00;
    }
  }

  .content {
    flex-grow: 1;
    background: #ffffff;
    border-bottom: 2px solid #eeeff2;
    border-left: 2px solid #eeeff2;
    border-right: 2px solid #eeeff2;
    border-radius: 0 0 0.5em 0.5em;
    padding: 0.5em;
    &.selected {
      border-color: #e38e00;
    }
  }
}

.table_header {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0em 0.5em;
  width: 100%;
}

$size: 1.2em;
$diff: 0.25em;
.table_handle {
  position: absolute;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
  background-color: #247efe;
  border: 1px solid #d6e7ff;
  color: #ffffff;
  top: calc(50% - 0.5 * $size);
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: default;
}

.right_handle {
  right: $diff;
}

.left_handle {
  left: $diff;
}

.see_more_node {
  width: $node-width;
  background: #f7faff;
  border: 1px solid #eeeff2;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: default;
}

.table_card {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0.5rem;
  overflow-x: hidden;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 1px solid #e7e8ea;
  background: #ffffff;
  cursor: pointer;

  &.selected {
    border-color: #e38e00;
  }

  &:hover {
    background-color: #f7faff;
  }

  &.disabled {
    background-color: #e5e6e7;
    cursor: default;
  }
}

.column_card {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  border-radius: 0.6em;
  padding: 0.8em;
  border: 1px solid #e7e8ea;
  background: #ffffff;
  cursor: pointer;

  &.selected {
    border-color: #e38e00;
  }

  &:hover {
    background-color: #f7faff;
  }
}

.edit_icon {
  $size: 1.2rem;
  width: $size;
  height: $size;
  color: #8390a3;
  &:hover {
    color: #247efe;
  }
  &.active {
    color: #247efe;
  }
}

.expand_lineage_icon {
  $size: 1rem;
  background-color: #247efe;
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: $size;
    height: $size;
  }
}

.processing_div {
  background-color: #ffffff;
  .gif_img {
    max-width: 100%;
    max-height: 90%;
  }
}

.card {
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.column_tag {
  background: rgba(63, 140, 255, 0.1);
  font-size: 0.8em;
  color: #082247;
}

.column_node {
  border: 1px solid #247efe;
  background: #e9f2ff;
  color: #247efe;
  width: calc($node-width - 24px);
  border-radius: 0.25em;
  padding: 4px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.selected {
    background: #247efe;
    color: #ffffff;
  }
}
