.item-row {
  padding: 0.5em;
  color: var(--theme-foreground);
}
.item-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.item-main {
  display: flex;
  align-items: center;
}
.title {
  color: var(--theme-foreground) !important;
  font-size: 1.1em;
  text-decoration: none;
  margin-right: 3px;
}
.title:hover {
  text-decoration: underline;
}
.title.repo {
  opacity: 70%;
  padding-right: 8px;
}
.label {
  font-size: 0.85em;
  margin: 0 2px;
  padding: 1px 6px 2px 6px;
  border-radius: 1em;
}
.label a {
  /* Prevents wrap breaking on hypen */
  display: inline-block;
}
.status {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  opacity: 60%;
  padding: 0.1em 0 0.1em 0.3em;
}
.assignee {
  flex: shrink;
}
.user {
  display: flex;
}
.user img {
  padding: 0 0.1em;
  border-radius: 20px;
  border: solid 1px transparent;
}
.item-state {
  padding-right: 0.3em;
  opacity: 60%;
}
.item-state .octicon {
  fill: var(--theme-foreground);
  opacity: 0.7;
  display: block;
}
.item-state .octicon.open {
  fill: green;
  opacity: 1;
}
.stats {
  text-align: center;
  font-size: 0.7em;
  opacity: 60%;
  padding-top: 0.6em;
}
.collapse {
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
  padding: 0.3em 0;
}
.collapse:hover > span,
.collapse:focus > span {
  background: var(--theme-button-hover-background);
}
.collapse > span {
  color: var(--theme-button-foreground);
  background: var(--theme-button-background);
  padding: 3px;
}
.item-row .start-working {
  display: none;
}
.item-row .start-working a {
  color: var(--theme-foreground) !important;
  font-size: 0.9em;
  text-decoration: none;
}
.item-row .start-working a:hover {
  text-decoration: underline;
}
.item-row:hover .start-working {
  display: inline;
}
.item-row .actions {
  display: none;
  margin: 0;
  padding: 0;
}
.item-row:hover .actions,
.item-row:focus-within .actions {
  display: flex;
}
.item-row .actions li {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

.item-row .actions li a {
  color: inherit;
}
