.itemCard {
  background-color: var(--background--base);
  padding: 0.5rem;
  border-radius: 4px;
}

.itemRow {
  display: grid;
  grid-template-columns: 1.2fr 3fr;

  :nth-child(1) {
    font-weight: 600;
  }

  :nth-child(2) {
    line-break: anywhere;
    color: var(--text-grey2-color);
  }
}

.colDesc {
  :nth-child(1) {
    font-weight: 600;
  }

  :nth-child(2) {
    line-break: anywhere;
    color: var(--text-grey2-color);
  }
}

.propagateContainer {
  background-color: #333333;
  margin: -12px;
  padding: 12px;
}

.singleColumnAccordion {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}

.captionText {
  color: var(--text-color--caption);
  font-size: 0.8em;
}