.chat-list{
  padding: 0;
  li {
    margin-bottom: 1rem;
    list-style: none;
  }

  :global .card{
    padding: 20px;
  }
  :global .card-title{ 
    font-size: 14px;
    svg{
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}
  .action-buttons{
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;

    & >div{
      display: flex;
    }
    & :global .btn.active{
      border-color: var(--primary-accent);
    }
    & > form {
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid #424750;
      flex: 100%;
    }
  }
}

.default-view{
  h1{
    margin-bottom: 0;
  }
  > section {
    border-radius: 8px;
    border: 1px solid var(--Backgrounds-04, #4A4D51);
    padding: 46px 20px 20px 20px;
    text-align: left;
    margin-top: 20px;
    h4 {
      margin-bottom: 24px;
    }
  }
}

.prompt-card{
  border-radius: 8px;
border: 1px solid var(--Stroke-Disable, #424750);
background: var(--Backgrounds-Base, #1E1E1E);
}